/* Custom styles for the header and search bar */
.app-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .search-field {
    width: 200px;
  }
  
  /* Center the search bar vertically within the header */
  .mat-toolbar-row {
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the input field */
  .mat-input-element {
    color: #333; /* Text color for the input field */
    font-size: 1rem;
  }
  
  
  .mat-form-field-appearance-fill .mat-form-field-infix {
    border-color: #333; 
  }
  
  
  .mat-focused .mat-form-field-underline {
    display: none;
  }
  /* for the header and search bar */
  .app-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .search-field {
    margin-top: 20px;
    width: 300px;
  }
  
  /* Center the search */
  .mat-toolbar-row {
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the input field */
  .mat-input-element {
    color: #333; /* Text color input*/
    font-size: 1rem;
  }
  
  
  .mat-form-field-appearance-fill .mat-form-field-infix {
    border-color: #333; 
  }
  
  
  .mat-focused .mat-form-field-underline {
    display: none;
  }
  